{% comment %} I wrote this code {% endcomment %}

<header class="site-header-default">
    <nav class="navbar navbar-expand-lg bg-body-secondary shadow-sm">
        <div class="container">
            <div class="user-section">
                <span>Welcome to our social app!</span>
            </div>
            <div class="" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">About</a>
                </li>
            </div>
        </div>
    </nav>
</header>

{% comment %} end of code I wrote {% endcomment %}