{% extends "base.html" %}

{% comment %} I wrote this code {% endcomment %}

{% block content %}
    <ul class="all-friends-container p-0 d-flex flex-wrap justify-content-center">
        <div class="w-100 bg-body-tertiary p-3 mb-3 rounded-3">
            <h3 class="text-center">All of {{ user_profile }}'s friends</h3>
        </div>
        {% if friends %}
            {% for friend in friends %}
                <li class="row p-2 mb-3 mx-1 bg-body-tertiary rounded-3" style="width: 49%;">
                    <div class="col-3 d-flex align-items-center">
                        <a class="friend-avatar-link rounded-3 overflow-hidden" href="{% url 'profile' friend %}">
                            {% if friend.avatar %}
                                <img src="{{ friend.avatar.url }}" alt="{{ friend }}'s avatar" class="avatar-thumbnail" width="100%">
                            {% else %}
                                <img src="/media/avatars/avatar_placeholder.webp" alt="Placeholder avatar" class="avatar-thumbnail" width="100%">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-9 d-flex flex-wrap align-items-center">
                        <div class="w-100 mb-2">
                            <a class="d-inline-block fs-5 text-dark fw-bolder text-decoration-none" href="{% url 'profile' friend %}">{{ friend }}</a>
                        </div>
                        <a class="btn btn-primary text-decoration-none" href="{% url 'start_chat' friend.id %}">Chat</a>
                        <form class="ms-3" method="post" action="{% url 'unfriend' friend.id %}">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Unfriend</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li class="d-inline-block w-100 mb-3 p-3 bg-body-tertiary rounded-3">
                <p class="text-center">{{ user_profile }} hasn't added any friends yet.</p>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% comment %} end of code I wrote {% endcomment %}